/* p {
    color: aqua;
} */

body {
    font-size: 22px;
}

h1, h2 {
    color: yellow;
}

p {
    color: orange;
    
}

.highlight {
    text-transform: uppercase;
    background-color: pink;
}

.gray {
    color: indianred;
}

#second {
    font-style: italic;
}